﻿@{
    Layout = null;
}
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>小寬練習專案</title>
<link href="~/Template/Src/assets/css/styles.min.css" rel="stylesheet" />
<link href="~/Public/kuan_dll/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body">
                                <p class="text-center">Welcome To Login</p>
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="mb-3">
                                        <label for="InputEmail" class="form-label">UserName</label>
                                        <input type="text" class="form-control" id="UserEmail" max="50">
                                        <span class="text-danger" style="display:none" id="errorEmail">信箱格式不符</span>
                                    </div>
                                    <div class="mb-4">
                                        <label for="InputPassword" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="Password" maxlength="25">
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked="">
                                            <label class="form-check-label text-dark" for="flexCheckChecked">
                                                Remeber this Device
                                            </label>
                                        </div>
                                        @*<a class="text-primary fw-bold" href="./index.html">Forgot Password ?</a>*@
                                    </div>
                                    <button type="button" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" id="btnSignIn">Sign In</button>
     @*                               <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-4 mb-0 fw-bold">New to Modernize?</p>
                                        <a class="text-primary fw-bold ms-2" href="./authentication-register.html">Create an account</a>
                                    </div>*@
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Template/Src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Public/kuan_dll/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/Public/kuan_dll/Common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSignIn").click(function () {

                if ($("#UserEmail").val() == ''|| $("#Password").val() == '') {
                    SweetAlert("error", '請輸入帳號與密碼', 1500);
                    return;
                }

                if (!CheckEmail($("#UserEmail").val())) {
                    SweetAlert("error", '帳號必須符合信箱格式', 1500);
                    return;
                }

                    var condition = new Object();
                    condition.UserEmail = $("#UserEmail").val();
                    condition.Password = $("#Password").val();
                    $.ajax({
                        url: "@Url.Action("UserLogin","Home")",
                        type: "POST",
                        data: {
                            UserInfo: condition
                        },
                        headers: {
                            RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
                        },
                        success: function (data) {
                            window.location.href = data;
                        },
                        error: function (error) {
                            SweetAlert("error", error.responseText, 3000);
                        }
                    })
                });
        })
    </script>
</body>
</html>