﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebProject</title>
    <link rel="stylesheet" href="~/Template/Src/assets/css/styles.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Public/kuan_dll/sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/Public/kuan_dll/fontawesome/css/all.min.css" />
    <link href="~/lib/jqueryui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        var allowSysAry = [];
        $(document).ready(function () {
            GetAllowMenu();
            for (var i = 0; i < allowSysAry.length; i++) {
                $('#' + allowSysAry[i]).removeClass('d-none');
            }

            var elementAry = $("#sidebarnav").children("li");
            var systemId = [];
            for (var i = 0; i < elementAry.length; i++) {
                if ($(elementAry[i]).attr("id") != null) {
                    systemId.push($(elementAry[i]).attr("id"));
                }
            }

            var denySys = $(systemId).not(allowSysAry).toArray();
            if (denySys.length > 0) {
                for (var i = 0; i < denySys.length; i++) {
                    $('#' + denySys[i]).remove();
                }
                if (denySys.includes('SystemUserRegister') >= 0 || denySys.includes('SystemDeptPermission') >= 0) $(".AuthTitle").remove();
            }
        })

        function GetAllowMenu() {
            $.ajax({
                url: "@Url.Action("GetUserMenu","UserManager")",
                type: "GET",
                async: false,
                success: function (data) {
                    allowSysAry = data.map(x => x.SystemTag);
                    SetMenu(allowSysAry);
                },
                error: function (error) {
                    SweetAlert("error", error.responseText, 1500);
                }
            })
        }
    </script>
</head>
<body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="./index.html" class="text-nowrap logo-img">
                        <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="init">
                    <div class="simplebar-wrapper selected" style="margin: 0px -24px;">
                        <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask selected">
                            <div class="simplebar-offset selected" style="right: 0px; bottom: 0px;">
                                <div class="simplebar-content-wrapper selected" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                                    <div class="simplebar-content selected" style="padding: 0px 24px;">
                                        <ul id="sidebarnav" class="in">
                                            <li class="nav-small-cap">
                                                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                                <span class="hide-menu">Home</span>
                                            </li>
                                            <li class="sidebar-item">
                                                <a class="sidebar-link" href="@Url.Action("Index","UserManager")" aria-expanded="false">
                                                    <span>
                                                        <i class="ti ti-layout-dashboard"></i>
                                                    </span>
                                                    <span class="hide-menu">首頁</span>
                                                </a>
                                            </li>
                                            <li class="nav-small-cap">
                                                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                                <span class="hide-menu">UI COMPONENTS</span>
                                            </li>
                                            <li class="sidebar-item d-none" id="SystemFoodMap">
                                                <a class="sidebar-link" href="@Url.Action("Index","Food")" aria-expanded="false">
                                                    <span>
                                                        <i class="ti ti-article"></i>
                                                    </span>
                                                    <span class="hide-menu">Taiwan Food Map</span>
                                                </a>
                                            </li>
                                            <li class="sidebar-item d-none" id="SystemBusinessSales">
                                                <a class="sidebar-link" href="@Url.Action("Index","Order")" aria-expanded="false">
                                                    <span>
                                                        <i class="ti ti-user-circle"></i>
                                                    </span>
                                                    <span class="hide-menu">業務銷售</span>
                                                </a>
                                            </li>
                                            <li class="sidebar-item d-none" id="SystemSetBusiness">
                                                <a class="sidebar-link" href="@Url.Action("Index","Employee")" aria-expanded="false">
                                                    <span>
                                                        <i class="ti ti-wand"></i>
                                                    </span>
                                                    <span class="hide-menu">設定業務(EF Core)</span>
                                                </a>
                                            </li>
                                            <li class="sidebar-item d-none" id="SystemSelenium">
                                                <a class="sidebar-link" href="@Url.Action("Index","GetReportBySelenium")" aria-expanded="false">
                                                    <span>
                                                        <i class="ti ti-file-description"></i>
                                                    </span>
                                                    <span class="hide-menu">Selenium測試</span>
                                                </a>
                                            </li>
                                            <li class="sidebar-item d-none" id="SystemOrderManage">
                                                <a class="sidebar-link" href="@Url.Action("Index","OrderManager")" aria-expanded="false">
                                                    <span>
                                                        <i class="ti ti-typography"></i>
                                                    </span>
                                                    <span class="hide-menu">訂單管理</span>
                                                </a>
                                            </li>
                                            <li class="nav-small-cap AuthTitle">
                                                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                                <span class="hide-menu">AUTH</span>
                                            </li>
                                            <li class="sidebar-item d-none" id="SystemUserRegister">
                                                <a class="sidebar-link" href="@Url.Action("Index","Register")" aria-expanded="false">
                                                    <span>
                                                        <i class="ti ti-user-plus"></i>
                                                    </span>
                                                    <span class="hide-menu">Register</span>
                                                </a>
                                            </li>
                                            <li class="sidebar-item d-none" id="SystemDeptPermission">
                                                <a class="sidebar-link" href="@Url.Action("Index","Permission")" aria-expanded="false">
                                                    <span>
                                                        <i class="ti ti-mist"></i>
                                                    </span>
                                                    <span class="hide-menu">部門權限</span>
                                                </a>
                                            </li>
                                            @*  <li class="nav-small-cap">
                                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                                            <span class="hide-menu">EXTRA</span>
                                            </li>
                                            <li class="sidebar-item">
                                            <a class="sidebar-link" href="./icon-tabler.html" aria-expanded="false">
                                            <span>
                                            <i class="ti ti-mood-happy"></i>
                                            </span>
                                            <span class="hide-menu">Icons</span>
                                            </a>
                                            </li>
                                            <li class="sidebar-item">
                                            <a class="sidebar-link" href="./sample-page.html" aria-expanded="false">
                                            <span>
                                            <i class="ti ti-aperture"></i>
                                            </span>
                                            <span class="hide-menu">Sample Page</span>
                                            </a>
                                            </li>*@
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><div class="simplebar-placeholder" style="width: auto; height: 888px;"></div>
                    </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 83px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                            <li class="nav-item dropdown">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Template/Src/assets/images/profile/Nobita Nobi.ico" alt="" width="35" height="35" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                    <div class="message-body">
                                        <a href="@Url.Action("Index","ChangePwd")" class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-user fs-6"></i>
                                            <p class="mb-0 fs-3">Change Password</p>
                                        </a>
                                        @*<a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                        <i class="ti ti-mail fs-6"></i>
                                        <p class="mb-0 fs-3">My Account</p>
                                        </a>
                                        <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                        <i class="ti ti-list-check fs-6"></i>
                                        <p class="mb-0 fs-3">My Task</p>
                                        </a>*@
                                        <a href="@Url.Action("Logout","Home")" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <div class="container-fluid">
                <div class="col-md-12 col-md-12 col-lg-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="~/Template/Src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Template/Src/assets/js/sidebarmenu.js"></script>
    <script src="~/Template/Src/assets/js/app.min.js"></script>
    <script src="~/Template/Src/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/Template/Src/assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="~/Template/Src/assets/js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/i18n/defaults-*.min.js"></script>
    <script src="~/Public/kuan_dll/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/Public/kuan_dll/Common.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/Public/kuan_dll/moment.min.js"></script>
    <script src="~/Public/kuan_dll/vue.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/Public/kuan_dll/js.cookie.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
