﻿@{
    ViewData["Title"] = "訂單管理";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header">
            訂單管理
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5 row">
                    <label class="form-label col-sm-3">選擇業務</label>
                    <div class="col-sm-9">
                        <select id="dplEmployee"></select>
                    </div>
                </div>
                <div class="col-md-6 row">
                    <label class="form-label col-sm-2">訂單編號</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="OrderId" />
                    </div>
                </div>
                <div class="col-md-1">
                    <input type="button" class="btn btn-outline-primary" id="btnSearch" value="搜尋" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="table-responsive">
                        <table class="table table-stripped table-hover" id="OrderTb">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="OrderDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="OrderDetailModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-stripped table-hover">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Discount</th>
                                    <th>Quantity Per Unit</th>
                                    <th>Origin Unit Price</th>
                                    <th>Units In Stock</th>
                                    <th>Units On Order</th>
                                    <th>Reorder Level</th>
                                    <th>Discontinued</th>
                                    <th>Company Name(Supplier)</th>
                                    <th>Contact Name</th>
                                    <th>Contact Title</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>Region</th>
                                    <th>Postal Code</th>
                                    <th>Country</th>
                                    <th>Phone</th>
                                    <th>Fax</th>
                                    <th>Home Page</th>
                                    <th>Category Name</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="ProductTable">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="BtnUpdate">確定修改</button>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var OrderInfoAry = [];
    var OrderId = 0;

    $(document).ready(function () {
        GetEmployeeDpl();

        $("#BtnUpdate").click(function () {
            var productAry=[];
            var rowCount = $("#ProductTable").find("tr").length;
            for (var i = 0; i < rowCount; i++) {
                var product = new Object();
                product.OrderId = OrderId;
                product.Pid = $("#ProductTable>tr").eq(i).attr("Pid");
                product.UnitPrice = $("#ProductTable>tr").eq(i).find("td").eq(1).find("input").val();
                product.Quantity = $("#ProductTable>tr").eq(i).find("td").eq(2).find("input").val();
                product.Discount = $("#ProductTable>tr").eq(i).find("td").eq(3).find("input").val();
                productAry.push(product);
            }

            Swal.fire({
                icon: 'warning',
                title: 'Are you sure you want to modify the product?',
                showCancelButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                   $.ajax({
                       url: "@Url.Action("UpdateProduct","OrderManager")",
                       type:"POST",
                       headers:{
                            RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
                       },
                       data:{
                          filterCondition: productAry,
                       },
                       success:function(data){
                            GetOrderDetail($("#dplEmployee").val());
                            SweetAlert("success", data, 1500);
                       },
                        error: function (error) {
                            SweetAlert("error", error.responseText, 1500);
                        }
                   })
                }
            });
        });

        $("#btnSearch").click(function(){
            GetOrderDetail($("#dplEmployee").val());
        });
    });

    function GetEmployeeDpl() {
        $.ajax({
            url: "@Url.Action("GetSales","Order")",
            type: "GET",
            headers: {
                RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
            },
            success: function (data) {
                $("#dplEmployee").html("");
                var html = "";
                $.each(data, function (index, item) {
                    html += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                });
                $("#dplEmployee").append(html);
                $("#dplEmployee").selectpicker();
                GetOrderDetail(data[0].Value);
            },
            error: function (error) {
                SweetAlert("error", error.responseText, 1500);
            }
        })
    }

    function GetOrderDetail(empId) {
        $.ajax({
            url: "@Url.Action("GetOrderDetail","OrderManager")",
            type: "POST",
            async:false,
            headers: {
                RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
            },
            data: {
                EmpId: empId,
                str: $("#OrderId").val().trim(),
            },
            success: function (data) {
                OrderInfoAry = data;
                SetOrderTable(data);
            },
            error: function (error) {
                SweetAlert("error", error.responseText, 1500);
            },
            beforeSend: function () {
                OrderInfoAry = [];
            }
        })
    }


    function SetOrderTable(data) {
        $("#OrderTb").dataTable({
            "searching": false,
            "paging": true,
            "ordering": true,
            "data": data,
            "lengthChange": true,
            "destroy": true,
            "columns": [
                { data: 'OrderId', title: 'Order Id' },
                {
                    data: 'FirstName', title: 'Employee Name', render: function (data, type, row, meta) {
                        return data + ' ' + row.LastName;
                    }
                },
                { data: 'CustomerID', title: 'Customer ID' },
                {
                    data: 'OrderDate', title: 'Order Date', render: function (data, type, row, meta) {
                        return moment(data).format('YYYY/MM/DD');
                    }
                },
                {
                    data: 'RequiredDate', title: 'Required Date', render: function (data, type, row, meta) {
                        return moment(data).format('YYYY/MM/DD');
                    }
                },
                {
                    data: 'ShippedDate', title: 'Shipped Date', render: function (data, type, row, meta) {
                        return moment(data).format('YYYY/MM/DD');
                    }
                },
                { data: 'Freight', title: 'Freight' },
                { data: 'ShipName', title: 'Ship Name' },
                { data: 'ShipVia', title: 'ShipVia' },
                { data: 'ShipAddress', title: 'Ship Address' },
                { data: 'ShipCity', title: 'Ship City' },
                { data: 'ShipRegion', title: 'Ship Region' },
                { data: 'ShipPostalCode', title: 'Ship Postal Code' },
                { data: 'ShipCountry', title: 'Ship Country' },
                {
                    data: 'OrderId', title: '', render: function (data, type, row, meta) {
                        return "<div class='d-inline-flex'><button type='button' class='btn btn-info' data-bs-toggle='modal' data-bs-target='#OrderDetailModal' OrderId='" + data + "' onclick='SetModalInitial(this)'><i class='fas fa-edit'></i></button></div>";
                    }
                }
            ]
        });
    }


    function SetModalInitial(obj) {
        OrderId = $(obj).attr('OrderId');
        RefreshProductDetail(OrderId);
    }


    function RefreshProductDetail(OrderId){
        var orderDetailAry = OrderInfoAry.filter(x => x.OrderId == OrderId).map(x => x.OrderDetailInfos)[0];
        console.log(orderDetailAry);
        $("#ProductTable").html("");
        var htmlStr = "";
        $.each(orderDetailAry, function (index, item) {
            htmlStr += "<tr Pid='" + item.ProductId + "'><td>" + item.ProductName + "</td><td><input type='text' class='form-control' style='width:100px' value='" + item.UnitPrice + "'/></td>"
                + "<td><input type='text' class='form-control' value='" + item.Quantity + "'/></td><td><input type='text' class='form-control' value='"
                + item.Discount + "'/></td><td>" + item.QuantityPerUnit + "</td><td>" + item.OriginUnitPrice + "</td><td>" + item.UnitsInStock + "</td><td>"
                + item.UnitsOnOrder + "</td><td>" + item.ReorderLevel + "</td><td>" + item.Discontinued + "</td><td>" + item.CompanyName + "</td><td>"
                + item.ContactName + "</td><td>" + item.ContactTitle + "</td><td>" + item.Address + "</td><td>" + item.City + "</td><td>" + item.Region
                + "</td><td>" + item.PostalCode + "</td><td>" + item.Country + "</td><td>" + item.Phone + "</td><td>" + item.Fax + "</td><td>" + item.HomePage
                + "</td><td>" + item.CategoryName + "</td><td>" + item.Description + "</td><td>" + "<div class='d-inline-flex'><input type='button' class='btn btn-outline-warning' value='刪除' pid='" + item.ProductId + "' onclick='DeleteProduct(this)'/></tr>";
        });
        $("#ProductTable").append(htmlStr);
    }

    function DeleteProduct(obj){
        var condition = new Object();
        condition.OrderId = OrderId;
        condition.Pid = $(obj).attr("pid");

        Swal.fire({
            icon: 'warning',
            title: 'Are you sure you want to delete the product?',
            showCancelButton: true,
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "@Url.Action("DeleteProduct","OrderManager")",
                    type: "POST",
                    headers: {
                        RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
                    },
                    data: {
                        filterCondition: condition,
                    },
                    success: function (data) {
                        GetOrderDetail($("#dplEmployee").val());
                        RefreshProductDetail(OrderId);
                        SweetAlert("success", data, 1500);
                    },
                    error: function (error) {
                        SweetAlert("error", error.responseText, 1500);
                    }
                })
            }
        });
    }
</script>