﻿@{
    ViewData["title"] = "訂單查詢";
}
<div class="card">
    <div class="card-header">
        訂單查詢
    </div>
    @using(Html.BeginForm()){
        @Html.AntiForgeryToken()
    <div class="card-body">
        <div class="row">
            <div class="col">
                <label class="form-label">選擇業務:</label>
                <select id="dplSales"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
             <div class="table-responsive">
                <table class="table table-stripped table-hover" id="TbSales">
                </table>
            </div>
          </div>
        </div>
    </div>
    }
</div>
<div class="modal fade" id="OrderDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="OrderDetailModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-stripped table-hover" id="TableOrderDetail">
                    </table>
                </div>
            </div>
@*            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="BtnUpdate">確定修改</button>
            </div>*@
        </div>
    </div>
</div>

<script type="text/javascript">
    var orderInfoAry=[];
    $(document).ready(function () {
        GetSalesInfo();

        $("#dplSales").change(function(){
            GetSalesReport($(this).val());
        });
    });

    function GetSalesInfo(){
        $.ajax({
            url: "@Url.Action("GetSales","Order")",
            type:"GET",
            headers: {
                RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
            },
            success:function(data){
                $("#dplSales").html("");
                var html="";
                $.each(data, function (index, item) {
                    html += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                });
                $("#dplSales").append(html);
                $("#dplSales").selectpicker();
                GetSalesReport(data[0].Value);
            },
            error:function(error){
                SweetAlert("error", error.responseText, 1500);
            }
        })
    }

    function GetSalesReport(empId){
        $.ajax({
            url: "@Url.Action("GetOrderBySales","Order")",
            type:"POST",
            headers: {
                RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
            },
            data:{
                SalesId: empId,
            },
            success:function(data){
                orderInfoAry = data;
                InitialSalesTable(data);
            },
            error: function (error) {
                SweetAlert("error", error.responseText, 1500);
            }
        });
    }

    function InitialSalesTable(data){
        $("#TbSales").DataTable({
            "searching": true,
            "paging": true,
            "ordering": true,
            "data": data,
            "lengthChange": false,
            "destroy": true,
            "columns":[
                { data: 'OrderID', title: 'OrderID' },
                {
                    data: 'OrderDate', title: 'OrderDate', render: function (data, type, row, meta) {
                        return moment(data).format('YYYY/MM/DD');
                    }
                },
                {
                    data: 'ShippedDate', title: 'ShippedDate', render: function (data, type, row, meta) {
                        return moment(data).format('YYYY/MM/DD');
                    }
                },
                {
                    data: 'RequiredDate', title: 'RequiredDate', render: function (data, type, row, meta) {
                        return moment(data).format('YYYY/MM/DD');
                    }
                },
                { data: 'ShipName', title: 'ShipName' },
                { data: 'ShipCity', title: 'ShipCity' },
                { data: 'ShipPostalCode', title: 'ShipPostalCode' },
                { data: 'ShipCountry', title: 'ShipCountry' },
                { data: 'Freight', title: 'Freight' },
                { data: 'CustomerID', title: 'CustomerID' },
                { data: 'CompanyName', title: 'CompanyName' },
                { data: 'ContactTitle', title: 'ContactTitle' },
                { data: 'Address', title: 'Address' },
                { data: 'City', title: 'City' },
                { data: 'Country', title: 'Country' },
                { data: 'PostalCode', title: 'PostalCode' },
                { data: 'Phone', title: 'Phone' },
                { data: 'Fax', title: 'Fax' },
                {
                    data: 'OrderID', title: '', render: function (data, type, row, meta) {
                        return "<button type='button' class='btn btn-lg btn-outline-success' onClick='ShowDetail(this)' orderId='"+data+"'>訂單明細</button>";
                    }
                }
            ]
        });
    }
    
    function ShowDetail(obj){
        var orderId=$(obj).attr("orderId");
        //var orderDetail = Object.assign({}, orderInfoAry.filter(x => x.OrderID == orderId));
        var orderData =  orderInfoAry.filter(x => x.OrderID == orderId);
        $("#OrderDetailModal").modal('show');
        InitialOrderDetailTable(orderData[0].OrderDetail);
    }

    function InitialOrderDetailTable(data){
        $("#TableOrderDetail").DataTable({
            "searching": true,
            "paging": true,
            "ordering": true,
            "data": data,
            "lengthChange": false,
            "destroy": true,
            "columns": [
                { data: 'ProductName', title: 'ProductName' },
                { data: 'UnitPrice', title: 'Order UnitPrice' },
                { data: 'Quantity', title: 'Order Quantity' },
                {
                    data: 'Discount', title: 'Order Discount', render: function (data, type, row, meta) {
                        return data.toFixed(2);
                    }
                },
                { data: 'QuantityPerUnit', title: 'Product QuantityPerUnit' },
                { data: 'ProductUnitPrice', title: 'Product UnitPrice' },
                { data: 'UnitsInStock', title: 'Product UnitsInStock' },
                { data: 'UnitsOnOrder', title: 'Product UnitsOnOrder' },
                { data: 'ReorderLevel', title: 'Product ReorderLevel' },
                { data: 'Discontinued', title: 'Product Discontinued' },
                { data: 'CompanyName', title: 'Supplier CompanyName' },
                { data: 'ContactName', title: 'Supplier ContactName' },
                { data: 'ContactTitle', title: 'Supplier ContactTitle' },
                { data: 'Address', title: 'Supplier Address' },
                { data: 'City', title: 'Supplier City' },
                { data: 'PostalCode', title: 'Supplier PostalCode' },
                { data: 'Country', title: 'Supplier Country' },
                { data: 'Phone', title: 'Supplier Phone' },
                { data: 'Fax', title: 'Supplier Fax' },
                { data: 'HomePage', title: 'Supplier HomePage' },
                { data: 'CategoryName', title: 'CategoryName' },
                { data: 'Description', title: 'Description' },
            ]
        });
    }
</script>
