﻿@{
    ViewData["Title"] = "權限設定";
}

<div class="card">
    <div class="card-header">
        使用者權限設定
    </div>
    <div class="card-body">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="table-responsive">
                        <table class="table table-stripped table-hover" id="UserPermission">
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="PermissionModal" tabindex="-1" aria-labelledby="PermissionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-stripped table-hover">
                        <thead>
                            <tr>
                                <th>系統名稱</th>
                                <th>權限</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbSystemList">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       @*         <button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var email = '';
    $(document).ready(function () {
        GetUserPermission();
    })

    function GetUserPermission() {
        $.ajax({
            url: "@Url.Action("GetUserInfo","Permission")",
            type: "GET",
            headers: {
                RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
            },
            success: function (data) {
                InitialPermission(data);
            },
            error: function (error) {
                SweetAlert("error", error.responseText, 1500);
            }
        })
    }

    function InitialPermission(data) {
        $("#UserPermission").DataTable({
            "searching": true,
            "paging": true,
            "ordering": true,
            "data": data,
            "lengthChange": false,
            "destroy": true,
            "columns": [
                { data: 'Email', title: '帳號' },
                { data: 'Name', title: '名稱' },
                {
                    data: 'Email', title: '', render: function (data, type, row, meta) {
                        return "<div class='d-inline-flex'><button type='button' class='btn btn-primary btn-sm' data-bs-toggle='modal' email='" + data + "' data-bs-target='#PermissionModal' onclick='SetSystemRole(this)'><i class='fas fa-pen'></i></button></div>"
                    }
                }
            ]
        });
    }

    function SetSystemRole(obj) {
        email = $(obj).attr("email");
        SetRoleTable();
    }

    function SetRoleTable(){
        $.ajax({
            url: "@Url.Action("UserRoleList","Permission")",
            type: "POST",
            headers: {
                RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
            },
            data: {
                Email: email,
            },
            success: function (data) {
                $("#tbSystemList").html("");
                var htmlStr = "";
                $.each(data, function (index, item) {
                    var selectHtml = "";
                    $.each(item.PermissionList, function (index, item) {
                        var select = "";
                        if (item.Selected == true) select = "selected='selected'"
                        selectHtml += "<option value='" + item.Value + "' " + select + ">" + item.Text + "</option>";
                    });
                    htmlStr += "<tr><td>" + item.SystemName + "</td><td><select class='dropdown'>" + selectHtml +
                        "</select></td><td><div class='d-inline-flex'><button type='button' class='btn btn-sm btn-success' systemId='" + item.SystemId + "' onclick='SetUserAuth(this)'><i class='fas fa-edit'></i></button><button type='button' class='btn btn-sm btn-warning ms-1' systemId='" +
                        item.SystemId + "' onclick='DelUserAuth(this)'><i class='fas fa-trash'></i></button></div></td>";
                })
                $("#tbSystemList").append(htmlStr);
            },
            error: function (error) {
                SweetAlert("error", error.responseText, 1500);
            }
        })
    }

    function SetUserAuth(obj) {
        if ($(obj).parents("tr").find("td").eq(1).find("select option:selected").val().trim()==''){
            SweetAlert('error', 'Please select user permissions',2500);
            return;
        }
        var systemId = $(obj).attr("systemId");
        var condition = new Object();
        condition.Email = email;
        condition.SystemId = systemId;
        condition.Role = $(obj).parents("tr").find("td").eq(1).find("select option:selected").val();

        Swal.fire({
            icon: 'warning',
            title: 'Are you sure you want to set user permissions?',
            showCancelButton: true,
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "@Url.Action("SetUserPermission","Permission")",
                    type: "POST",
                    headers: {
                        RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
                    },
                    data: {
                        AuthorityCondition: condition,
                    },
                    success: function (data) {
                        SetRoleTable();
                        SweetAlert("success", data, 1500);
                    },
                    error: function (error) {
                        SweetAlert("error", error.responseText, 1500);
                    }
                })
            }
        });
    }

    function DelUserAuth(obj){
        var systemId = $(obj).attr("systemId");
        var condition = new Object();
        condition.Email = email;
        condition.SystemId = systemId;
        Swal.fire({
            icon: 'warning',
            title: 'Are you sure you want to set user permissions?',
            showCancelButton: true,
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "@Url.Action("DelUserPermission","Permission")",
                    type: "POST",
                    headers: {
                        RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
                    },
                    data: {
                        AuthorityCondition: condition,
                    },
                    success: function (data) {
                        SetRoleTable();
                        SweetAlert("success", data, 1500);
                    },
                    error: function (error) {
                        SweetAlert("error", error.responseText, 1500);
                    }
                })
            }
        });
    }
</script>