﻿@{
    ViewData["Title"] = "Selenuim自動化測試";
}
<div>
    <table class="table table-stripped table-hover">
        <thead>
            <tr>
                <th>圖片</th>
                <th>主題</th>
                <th>網址</th>
            </tr>
        </thead>
        <tbody>
        @{
            foreach (var item in ViewBag.SpiderInfo)
            {
                <tr>
                        <td><img src="@item.PicUrl" /></td>
                        <td>@item.Title</td>
                        <td><a href="@item.Url">@item.Url</a></td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>