﻿@{
    ViewData["Title"] = "員工資料設定介面";
}
<div class="card">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="card-header">員工資料設定介面</div>
        <div class="card-body">
            <div id="divThisForm">
                <div class="row">
                    <label class="form-label col-sm-2">業務同仁:</label>
                    <div class="col-sm-10">
                        <select class="form-select" v-model="RegionId" v-on:change="DplEmployee()">

                            <option v-for="item in DplRegionAry" :value="item.Value">{{item.Text}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="table-responsive">
                        <table class="table table-stripped table-hover">
                            <thead>
                                <tr>
                                    <th>FirstName</th>
                                    <th>LastName</th>
                                    <th>Title</th>
                                    <th>TitleOfCourtesy</th>
                                    <th>BirthDate</th>
                                    <th>HireDate</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>Region</th>
                                    <th>PostalCode</th>
                                    <th>Country</th>
                                    <th>HomePhone</th>
                                    <th>ReportsTo</th>
                                    <th>PhotoPath</th>
                                    <th>TerritoryDescription</th>
                                    <th>RegionDescription</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item,i) in EmployeeInfo">
                                    <td>{{item.FirstName}}</td>
                                    <td>{{item.LastName}}</td>
                                    <td>{{item.Title}}</td>
                                    <td>{{item.TitleOfCourtesy}}</td>
                                    <td>{{FormatDate(item.BirthDate)}}</td>
                                    <td>{{FormatDate(item.HireDate)}}</td>
                                    <td>{{item.Address}}</td>
                                    <td>{{item.City}}</td>
                                    <td>{{item.Region}}</td>
                                    <td>{{item.PostalCode}}</td>
                                    <td>{{item.Country}}</td>
                                    <td>{{item.HomePhone}}</td>
                                    @*<td>{{item.Notes}}</td>*@
                                    <td>{{item.ReportsTo}}</td>
                                    <td>{{item.PhotoPath}}</td>
                                    <td>
                                        <div v-if="item.IsEdit==false">
                                            {{ShowTerritory(item.TerritoryDescription)}}
                                        </div>
                                        <div v-else>
                                            <select class="form-select" multiple v-model="item.ModifiedTerritory">
                                                <option v-for="(content,index) in item.TerritoryDescription" :value="content.Value" :selected="content.Selected">{{content.Text}}</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>{{item.RegionDescription}}</td>
                                    <td>
                                        <div class="d-inline-flex" v-if="item.IsEdit==false">
                                            <button type="button" class="btn btn-sm btn-primary" v-on:click="IsEditBtn(item)"><i class="fas fa-edit"></i></button>
                                            <button type="button" class="btn btn-sm btn-info ms-1"><i class="fas fa-trash-alt"></i></button>
                                        </div>
                                        <div class="d-inline-flex" v-else>
                                            <button type="button" class="btn btn-sm btn-success" v-on:click="SaveTerritory(item)"><i class="far fa-save"></i></button>
                                            <button type="button" class="btn btn-sm btn-secondary ms-1" v-on:click="UndoBtn(item)"><i class="fas fa-undo"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    var appVm;
    $(document).ready(function () {
        InitialForm();
        DplRegion();
        GetEmployeeByRegion(appVm.RegionId);
    });

    function InitialForm() {
        appVm = new Vue({
            el: "#divThisForm",
            data: {
                EmployeeInfo: [],
                DplRegionAry: [],
                RegionId: '1',
                ModifiedTerritory:[],
            },
            methods: {
                DplEmployee: function () {
                    GetEmployeeByRegion(appVm.RegionId);
                },
                FormatDate: function (value) {
                    return moment(value).format('YYYY/MM/DD');
                },
                ShowTerritory: function (value) {
                    var territoryAry = value.filter(x => x.Selected == true).map(x => x.Text.trim());
                    return territoryAry.join(',');
                },
                IsEditBtn: function (obj) {
                    obj.IsEdit = true;
                },
                UndoBtn: function (obj) {
                    obj.IsEdit = false;
                },
                SaveTerritory(obj) {
                    var territoryIdAry = obj.ModifiedTerritory;
                    Swal.fire({
                        icon: "warning",
                        title: "Are you sure you want to modify the territory?",
                        showCancelButton: true,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var condition = new Object();
                            condition.EmployeeID = obj.ID;
                            condition.TerritoryIds = territoryIdAry;
                            $.ajax({
                                url: "@Url.Action("ModifyTerritory","Employee")",
                                type: "POST",
                                headers: {
                                    RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
                                },
                                data: {
                                    territoryCondition: condition,
                                },
                                success: function (data) {
                                    if (data == 'Success') {
                                        SweetAlert("success", "Update Success", 1500);
                                    }
                                    console.log(appVm.RegionId);
                                    GetEmployeeByRegion(appVm.RegionId);
                                },
                                error: function (error) {
                                    SweetAlert("error", error.responseText, 1500);
                                }
                            })
                        }
                    });
                }
            }
        });
    }

    function DplRegion() {
        $.ajax({
            url: "@Url.Action("GetRegion","Employee")",
            type: "GET",
            async: false,
            headers: {
                RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
            },
            success: function (data) {
                appVm.DplRegionAry = data;
            },
            beforeSend: function () {
                appVm.DplRegionAry = [];
            }
        })
    }

    function GetEmployeeByRegion(regionId) {
        $.ajax({
            url: "@Url.Action("GetEmployeeInfo","Employee")",
            type: "POST",
            headers: {
                RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
            },
            data: {
                Id: regionId,
            },
            success: function (data) {
                appVm.EmployeeInfo = data;
            },
            beforeSend: function () {
                appVm.EmployeeInfo = [];
            }
        })
    }
</script>