﻿@{
    ViewData["Title"] = "註冊帳號";
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<style>
    .errorMsg {
        color: #FF0000; /* red */
    }
</style>
<div class="card">
    <div class="card-header">註冊使用者帳號</div>
    <div class="card-body">
        <form action="@Url.Action("NewUserInfo","Register")" method="post" id="RegisterForm">
            @Html.AntiForgeryToken()
            <div class="row mb-3">
                <label class="form-label col-sm-2">使用者信箱:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="Email" name="Email" placeholder="User Email" maxlength="25" />
@*                    <span class="text-danger" id="erroreMail"></span>*@
                </div>
            </div>
            <div class="row mb-3">
                <label class="form-label col-sm-2">密碼</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="Password" name="Password" placeholder="User Password" maxlength="25" />
                    @*<span class="text-danger" id="errorPwd"></span>*@
                </div>
            </div>
            <div class="row mb-3">
                <label class="form-label col-sm-2">確認密碼</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="User Comfirm Password" maxlength="25"  />
                    @*<span class="text-danger" id="errorPwd"></span>*@
                </div>
            </div>
            <div class="row mb-3">
                <label class="form-label col-sm-2">使用者姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="UserName" name="UserName" placeholder="User Name" maxlength="15"  />
                    @*<span class="text-danger" id="errorName"></span>*@
                </div>
            </div>
            <div class="row mb-3">
                <label class="form-label col-sm-2">使用者生日</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Birthday" id="Birthday"  />
                    @*<span class="text-danger" id="errorBirthday"></span>*@
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <input type="submit" class="btn btn-success" value="註冊" id="RegisterBtn" />
                <input type="button" class="btn btn-info ms-1" value="取消" id="btnCancel" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Birthday").datepicker({
            dateFormat: 'yy/mm/dd'
        });
        

        $("#RegisterForm").validate({
            errorElement: 'span',
            errorClass: "errorMsg",
            debug:true,
            rules: {
                Email: {
                    required: true,
                    email:true,
                },
                Password: {
                    required: true,
                    CheckPwd: true,
                },
                ConfirmPassword: {
                    required: true,
                    equalTo: "#Password"
                },
                UserName: {
                    required: true
                },
                Birthday: {
                    required: true,
                    date:true,
                }
            },
            messages: {
                Email: {
                    required: '信箱必填',
                    email:'請檢查信箱格式'
                },
                Password: {
                    required: '密碼必填',
                    CheckPwd: '請輸入6位以上，包含英文與數字，但不包含特殊符號',
                },
                ConfirmPassword: {
                    required: '確認密碼必填',
                    equalTo: '確認密碼要與密碼相同'
                },
                UserName: {
                    required: '使用者名稱必填',
                },
                Birthday: {
                    required: '使用者生日必填',
                    date:'請輸入有效的日期時間格式'
                }
            },
            submitHandler: function (form) {
                form.submit();   //驗證通過
            },
            invalidHandler: function (form) { return false; }  //驗證失敗
        });

        $.validator.addMethod("CheckPwd", function (value, element) {
            var regex = new RegExp("^((^[a-zA-Z]{1,}[0-9]{1,}[a-zA-Z0-9]*)+)|((^[0-9]{1,}[a-zA-Z]{1,}[a-zA-Z0-9]*)+)$");
            return regex.test(value);
        }, "<span class='text-danger'>請輸入6位以上，包含英文與數字，但不包含特殊符號</span>");

        if ('@TempData["ErrorMsg"]' != '') {
            if ('@TempData["ErrorMsg"]' != 'Success') SweetAlert('error','@TempData["ErrorMsg"]', 2500);
            else SweetAlert('success', '註冊成功', 2500);
        }


        $("#btnCancel").click(function(){
            $("#Email").val("");
            $("#Password").val("");
            $("#ConfirmPassword").val("");
            $("#UserName").val("");
            $("#Birthday").val("");
        })
    });     
</script>